@charset "UTF-8";
@font-face{
    font-family:'jcmiconfont';
    src:url('../fonts/jcgoafont.eot');
    src:url('../fonts/jcgoafont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/jcgoafont.woff') format('woff'),
    url('../fonts/jcgoafont.ttf') format('truetype'),
    url('../fonts/jcgoafont.svg') format('svg');
    font-weight:normal;
    font-style:normal
}

[class^="jcm-"], [class*=" jcm-"] {
  font-family: 'jcmiconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jcm-tanhao:before { content: "\689"; }
.jcm-fujian:before { content: "\688"; }
.jcm-delete:before { content: "\687"; }
.jcm-biaodan1:before { content: "\686"; }
.jcm-shanchu:before { content: "\6be"; }
.jcm-rile:before { content: "\6bd"; }
.jcm-arrows:before { content: "\6bc"; }
.jcm-biaoxing:before { content: "\6b5"; }
.jcm-jiahao:before { content: "\6b6"; }
.jcm-shangchuanfujian:before { content: "\6b7"; }
.jcm-xiajiantou:before { content: "\6b8"; }
.jcm-xiajiantou_1:before { content: "\6b9"; }
.jcm-xieyoujian:before { content: "\6ba"; }
.jcm-xingbiao:before { content: "\6bb"; }
.jcm-duihao2:before { content: "\6b4"; }
.jcm-user7:before { content: "\6b1"; }
.jcm-psd:before { content: "\6b2"; }
.jcm-guanbi:before { content: "\6b0"; }
.jcm-youjiantou1:before { content: "\6a9"; }
.jcm-jiantou (1):before { content: "\6a8"; }
.jcm-jiantou:before { content: "\6a7"; }
.jcm-place:before { content: "\14e"; }
.jcm-calendar:before { content: "\14f"; }
.jcm-xialakuang:before { content: "\474"; }
.jcm-smiley:before { content: "\285"; }
.jcm-smiley2:before { content: "\286"; }
.jcm-sad2:before { content: "\287"; }
.jcm-sad:before { content: "\288"; }
.jcm-wink:before { content: "\289"; }
.jcm-confused2:before { content: "\290"; }
.jcm-confused:before { content: "\291"; }
.jcm-video-camera:before { content: "\302"; }
.jcm-pencil2:before { content: "\301"; }
.jcm-check:before { content: "\311"; }
.jcm-times:before { content: "\308"; }
.jcm-stackoverflow:before { content: "\306"; }
.jcm-list-alt:before { content: "\307"; }
.jcm-copy:before { content: "\315"; }
.jcm-off:before { content: "\324"; }
.jcm-cut:before { content: "\314"; }
.jcm-paste2:before { content: "\304"; }
.jcm-books2:before { content: "\303"; }
.jcm-file-zip:before { content: "\298"; }
.jcm-file-excel:before { content: "\297"; }
.jcm-file-word:before { content: "\296"; }
.jcm-file-pdf:before { content: "\295"; }
.jcm-plus2:before { content: "\353"; }
.jcm-star:before { content: "\319"; }
.jcm-wujiaoxin:before { content: "\28"; }
.jcm-SPD_Bank:before { content: "\14"; }
.jcm-dayu:before { content: "\16"; }